<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8"/>
	<link rel='stylesheet' type='text/css'
		  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		  th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" />
	<link rel='stylesheet' type='text/css'
		  href='http://fonts.googleapis.com/css?family=Varela+Round'
		  th:href="@{http://fonts.googleapis.com/css?family=Varela+Round}" />
	<link rel="stylesheet" type='text/css'
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		  th:href="@{/css/bootstrap.css}" />
	<link rel='stylesheet' type='text/css'
		  href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
		  th:href="@{http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
			th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<h1>Voting System</h1>
	<div class="text-center" style="padding: 50px 0">

		<p>System developers:</p>
		<ul>
			<li>Ricardo Suárez Rodríguez <a href="uo239722@uniovi.es">uo239722@uniovi.es</a></li>
			<li>Ivan Modroño Alvarez <a href="uo174348@uniovi.es">uo174348@uniovi.es</a></li>
		</ul>
	</div>
</body>
<footer>
	<a href="../templates/index-electoral-board.html"
		class="glyphicon glyphicon-home" th:href="@{/admin}">Back to menu.</a>
</footer>
</html>