<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8"/>
	<link rel='stylesheet' type='text/css'
		  href="../static/css/button.css"
		  th:href="@{/css/button.css}" />
	<link rel='stylesheet' type='text/css'
		  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		  th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" />
	<link rel='stylesheet' type='text/css'
		  href='http://fonts.googleapis.com/css?family=Varela+Round'
		  th:href="@{http://fonts.googleapis.com/css?family=Varela+Round}" />
	<link rel="stylesheet" type='text/css'
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		  th:href="@{/css/bootstrap.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
			th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div th:replace="fragments/header :: error"></div>
<div th:replace="fragments/header :: info"></div>

	<h1>Voting System</h1>
	<div class="text-center">
		<h5>Registrar el voto presencial de un votante.</h5>
		<form th:action="@{/admin-vote}" th:object="${elections}" method="post">
			<select id="election" name="election">
				<option th:each="election : ${elections}"
						th:value="${election.id}"
						th:text="${election.name}">Elección</option>
			</select>
			<input type="text" name="voterNIF" placeholder="Introduce el NIF" required="required" />
			<button type="submit" value="Check voter" class="myButton">Registrar Voto</button>
		</form>
	</div>

	<footer style="margin-top: 25px;">
		<a href="../templates/index-electoral-board.html" class="glyphicon glyphicon-home" th:href="@{/admin}">Volver</a>
	</footer>
</body>
</html>