<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
          th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" />
    <link href='http://fonts.googleapis.com/css?family=Varela+Round'
          th:href='@{http://fonts.googleapis.com/css?family=Varela+Round}' rel='stylesheet' type='text/css' />
    <link href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />

    <script src="../static/webjars/jquery/2.1.4"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
<h1>Voting System</h1>
<div class="error" style="padding: 50px 0">
    <h2>¡Ops! Ha habido un error procesando su petición.</h2>
</div>
</body>
<footer>
    <a href="../templates/index.html" th:href="@{/}"
       class="glyphicon glyphicon-home">Back to menu.</a>
</footer>
</html>