<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8"/>
	<link rel='stylesheet' type='text/css'
		  href="../static/css/electionsTable.css"
		  th:href="@{/css/electionsTable.css}" />
	<link rel='stylesheet' type='text/css'
		  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		  th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" />
	<link rel='stylesheet' type='text/css'
		  href='http://fonts.googleapis.com/css?family=Varela+Round'
		  th:href="@{http://fonts.googleapis.com/css?family=Varela+Round}" />
	<link rel="stylesheet" type='text/css'
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		  th:href="@{/css/bootstrap.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
			th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div th:replace="fragments/header :: error"><p>Error</p></div>
<div th:replace="fragments/header :: info"></div>

	<h1>Bienvenido, <span th:text="${voter.name}">Usuario</span></h1>
	<div th:if="${elecciones != null and not #lists.isEmpty(elecciones)}" class="electionsTable">
		<table>
			<tr>
				<th>Nombre</th>
				<th>Descripción</th>
				<th>Votar</th>
			</tr>
			<tr th:each="eleccion : ${elecciones}">
				<input type="hidden" th:value="${eleccion.id}" />
				<td th:text="${eleccion.name}">Nombre</td>
				<td th:text="${eleccion.description}">Descripción</td>
				<td><a th:href="${'/vote/' + eleccion.id + '/' + voter.id + '/' + voter.idVotingPlace}">
						<img src="../static/images/vote.png" th:src="@{/images/vote.png}" />
					</a>
				</td>
			</tr>

		</table>
	</div>
	<div th:if="${elecciones != null and #lists.isEmpty(elecciones)}">
		No hay elecciones abiertas o ya has votado en ellas.
	</div>

<footer style="margin-top: 25px;">
	<a href="../templates/index.html" class="glyphicon glyphicon-home" th:href="@{/}">Salir</a>
</footer>
</body>
</html>