<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8"/>
	<link rel='stylesheet' type='text/css'
		  href='http://fonts.googleapis.com/css?family=Varela+Round'
		  th:href="@{http://fonts.googleapis.com/css?family=Varela+Round}" />
	<link rel="stylesheet" type='text/css'
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		  th:href="@{http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css"
		  href="../static/formoid1/formoid-solid-blue.css"
		  th:href="@{/formoid1/formoid-solid-blue.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
			th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body class="blurBg-true" style="background-color: #EBEBEB; padding: 20px">
<div th:replace="fragments/header :: error"><p>Error</p></div>
	<!-- Start Formoid form-->
	<script type="text/javascript"
		th:src="@{/formoid1/jquery.min.js}"></script>
	<form class="formoid-solid-blue"
		style="background-color: #FFFFFF; font-size: 14px; font-family: 'Roboto', Arial, Helvetica, sans-serif; color: #34495E; max-width: 480px; min-width: 150px"
		method="post" th:action="@{/new}">
		<div class="title">
			<h2>Nuevo Referendum</h2>
		</div>
		<div class="element-input">
			<label class="title"><span class="required">Introduzca el nombre: *</span></label>
			<div class="item-cont">
				<input class="large" type="text" name="electionName" required="required"
					   placeholder="Nombre del Referéndum" /><span
					class="icon-place"></span>
			</div>
		</div>
		<div class="element-textarea">
			<label class="title">Descripción: *</label>
			<div class="item-cont">
				<textarea class="medium" name="electionDesc" cols="20" rows="5"
						  placeholder="Descripción del Referéndum" required="required"></textarea>
				<span class="icon-place"></span>
			</div>
		</div>
		<div class="element-date">
			<label class="title"><span class="required">Fecha de
					inicio: *</span></label>
			<div class="item-cont">
				<input class="medium" data-format="dd-mm-yyyy" type="date"
					   name="dateStart" required="required" placeholder="Fecha de inicio"
					   /><span class="icon-place"></span>
			</div>
		</div>
		<div class="element-date">
			<label class="title"><span class="required">Fecha de
					fin: *</span></label>
			<div class="item-cont">
				<input class="medium" data-format="dd-mm-yyyy" type="date"
					   name="dateEnd" required="required" placeholder="Fecha de fin"
					   /><span class="icon-place"></span>
			</div>
		</div>

		<div class="element-input">
			<label class="title"><span class="required">Pregunta del Referendum *</span></label>
			<div class="item-cont">
				<input class="large" type="text" name="electionQuestion" required="required"
					   placeholder="Pregunta" /><span
					class="icon-place"></span>
			</div>
		</div>

		<div class="element-input">
			<label class="title"><span class="required">Respuesta afirmativa: *</span></label>
			<div class="item-cont" style="width: 50%">
				<input class="large" type="text" name="electionResp1" required="required"
					   placeholder="Sí" /><span
					class="icon-place"></span>
			</div>
		</div>

		<div class="element-input">
			<label class="title"><span class="required">Respuesta negativa: *</span></label>
			<div class="item-cont" style="width: 50%">
				<input class="large" type="text" name="electionResp2" required="required"
					   placeholder="No" /><span
					class="icon-place"></span>
			</div>
		</div>

		<div class="submit">
			<input type="submit" value="Continuar" />
		</div>
	</form>

	
	<!-- Stop Formoid form-->


	<footer style="width: 50%; margin: 20px auto;">
		<a href="../templates/index-electoral-board.html"
		   class="glyphicon glyphicon-home" th:href="@{/admin}">&nbsp;Volver</a>
	</footer>
</body>

</html>
