<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8"/>
	<link rel='stylesheet' type='text/css'
		  href="../static/css/electionsTable.css"
		  th:href="@{/css/electionsTable.css}" />
	<link rel='stylesheet' type='text/css'
		  href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
		  th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" />
	<link rel='stylesheet' type='text/css'
		  href='http://fonts.googleapis.com/css?family=Varela+Round'
		  th:href="@{http://fonts.googleapis.com/css?family=Varela+Round}" />
	<link rel="stylesheet" type='text/css'
		  href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
		  th:href="@{/css/bootstrap.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
			th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
			th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div th:replace="fragments/header :: error"></div>

	<div style="width: 70%; margin: 60px auto;">
		<form method="post" th:object="${election}" th:action="@{/vote}">
			<p>
				<span style="font-size: 20px" th:text="*{name}">Pregunta</span>
				<br/>
				<span style="font-size: 14px" th:text="*{description}">Descripción</span>
			</p>
			<hr/>
			<br/>

			<input type="hidden" name="voter" th:value="${voter}" />
			<input type="hidden" name="votingPlace" th:value="${votingPlace}" />

			<ul>
				<li th:each="referendumOption : ${referendumOptions}" style="list-style-type: none;">
					<input type="radio" th:field="*{id}" th:value="${referendumOption.id}" />
					<label th:for="${#ids.prev('id')}" th:text="${referendumOption.option}">Sí</label>
				</li>
			</ul>

			<br/>
			<input type="submit" value="Votar"/>
		</form>
	</div>

</body>
</html>