<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <link rel='stylesheet' type='text/css'
          href="../../static/css/voting.css"
          th:href="@{/css/voting.css}" />
    <link rel='stylesheet' type='text/css'
          href="../static/css/button.css"
          th:href="@{/css/button.css}" />
    <link rel='stylesheet' type='text/css'
          href="../static/css/electionsTable.css"
          th:href="@{/css/electionsTable.css}" />
    <link rel='stylesheet' type='text/css'
          href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
          th:href="@{http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css}" />
    <link rel='stylesheet' type='text/css'
          href='http://fonts.googleapis.com/css?family=Varela+Round'
          th:href="@{http://fonts.googleapis.com/css?family=Varela+Round}" />
    <link rel="stylesheet" type='text/css'
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.css}" />
    <link rel='stylesheet' type='text/css'
          href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
          th:href="@{http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" href="../static/css/menu.css"
          th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" href="../static/css/new.election.css"
          th:href="@{/css/new.election.css}"/>
    <link rel='stylesheet' type='text/css'
          href="../static/formoid2/formoid-solid-purple.css"
          th:href="@{/formoid2/formoid-solid-purple.css}" />
    <link rel='stylesheet' type='text/css'
          href="../static/formoid1/formoid-solid-blue.css"
          th:href="@{/formoid1/formoid-solid-blue.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
            th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<div class="header" th:fragment="cabecera">
    <h1>Voting System</h1>
</div>
<div th:if="${error != null}" th:fragment="error">
    <div id="errorMsg" class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-triangle"></i>
        <span class="sr-only">Error:</span>
        <span th:text="${error}">Causa</span>
    </div>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $("#errorMsg").fadeOut(1500);
            },5000);
        });
    </script>
</div>
</body>
</html>
